@mixin flexbox($justify, $algin, $direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $algin;
}

@mixin postion($postion, $directions...) {
  position: $postion;
  @each $key, $value in $directions {
    @if $key == left {
      left: $value;
    } @else if $key == right {
      right: $value;
    } @else if $key == top {
      top: $value;
    } @else if $key == bottom {
      bottom: $value;
    }
  }
}

@mixin padding($dist...) {
  @each $key, $value in $dist {
    @if $key == top {
      padding-top: $value;
    } @else if $key == right {
      padding-right: $value;
    } @else if $key == left {
      padding-left: $value;
    } @else if $key == bottom {
      padding-bottom: $value;
    }
  }
}

@mixin margin($dist...) {
  @each $key, $value in $dist {
    @if $key == top {
      margin-top: $value;
    } @else if $key == right {
      margin-right: $value;
    } @else if $key == left {
      margin-left: $value;
    } @else if $key == bottom {
      margin-bottom: $value;
    }
  }
}

@mixin margin_auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin diamintion($width, $height) {
  width: $width;
  height: $height;
}

@mixin radius($dist...) {
  @each $key, $value in $dist {
    @if $key == "topright" {
      border-top-right-radius: $value !important;
    } @else if $key == "topleft" {
      border-top-left-radius: $value !important;
    } @else if $key == "bottomright" {
      border-bottom-right-radius: $value !important;
    } @else if $key == "bottomleft" {
      border-bottom-left-radius: $value !important;
    }
  }
}

// media queries

@mixin breakpoint($point) {
  @if $point == sMobile {
    @media (max-width: 575px) {
      @content;
    }
  } @else if $point == mobile {
    @media (min-width: 576px) and (max-width: 767px) {
      @content;
    }
  } @else if $point == small {
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  } @else if $point == medium {
    @media (min-width: 992px) and (max-width: 1199px) {
      @content;
    }
  } @else if $point == large {
    @media (min-width: 1200px) {
      @content;
    }
  }
}
