@use "./mixin" as *;
@use "./variables" as *;

/* reset elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}
a {
  text-decoration: none;
}
input:focus {
  outline: none;
}
.about {
  background-color: $dark;
  height: 90vh;
}
