@use "../helpers/variables" as *;
@use "../helpers/mixin" as *;

// top header of nav

.Header {
  background-color: $lightDark;
  border-top-left-radius: 5px;
  .content {
    padding: 10px 15px;
  }
  .nav a,
  ul li {
    margin-right: 15px;
    font-size: 12px;
    @include flexbox(center, center, row);
    cursor: pointer;
    transition: all 0.5s;
    color: $white !important;
  }
  .last_ul {
    justify-content: flex-end;
  }
}

.Header a,
ul li {
  &:hover {
    color: $danger !important;
  }
}

// middle header

.middle {
  background-color: $dark;
  @include postion(sticky, top 0);
  z-index: 30;
  overflow: hidden;
  .content {
    @include flexbox(space-between, center, row);
    padding: 0px !important;
  }
  .middle-last {
    margin-left: auto;
    width: 100%;
    button {
      color: $white !important;
      background-color: transparent !important;
      border: none;
      font-size: $smallFont;
      @include postion(center, center, column);
      position: relative;
      &:first-child {
        margin-right: 20px;
      }
      div {
        background-color: $danger;
        border-radius: 50%;
        @include diamintion(15px, 15px);
        font-size: $smallFont;
        @include postion(absolute, top 0, right 30%);
      }
      svg {
        font-size: 20px;
      }
    }
  }
}

// nav bar
.header_navbar {
  background-color: transparent !important;
  .container > button {
    margin: 0 !important;
    position: absolute;
    right: 0;
  }
  a.nav-link {
    min-width: fit-content;
    color: $dark !important;
    padding: 10px !important;
    font: {
      weight: 500;
      size: $smallFont;
    }
    @include flexbox(center, center, row);
  }
  a.nav-link:hover {
    color: $danger !important;
    span::before {
      width: 100%;
    }
  }
  button {
    background-color: white;
  }
  .nav_links {
    justify-content: flex-end;
  }
}
.active span {
  color: $danger !important;
  &::before {
    width: 100% !important;
  }
}

a.nav-link span {
  position: relative;
  color: $white;
  &::before {
    content: "";
    @include diamintion(0, 2px);
    background-color: $danger;
    @include postion(absolute, left 0, bottom 0);
    transition: all 0.5s;
  }
}
.MeNu {
  text-align: right;
  margin-top: 10px;
}

.cart_favorit {
  display: none;
}

.cart_favorit button {
  color: black !important;
  background-color: transparent !important;
  border: none;
  font-size: $smallFont;
  position: relative;
  @include flexbox(center, center, column);
  svg {
    font-size: 20px;
  }
  div {
    background-color: $danger;
    border-radius: 50%;
    @include diamintion(15px, 15px);
    font-size: $smallFont;
    position: absolute;
    top: 0;
    right: 30%;
    @include postion(absolute, top 0, right 30%);
    color: white;
  }
}

.log {
  display: none !important;
}

// home slider

.carousel-caption h5 {
  color: white !important;
  font: {
    size: 1.5rem !important;
    weight: 500;
  }
}

//section

.section {
  padding: 50px 0px;
}
.sectionContent {
  position: relative;
  overflow: hidden;
  margin: 15px 0px;
  background-color: $lightWhite;
  height: 250px;
  @include flexbox(center, center, row);
  img {
    position: relative;
    transition: all 0.5s;
  }
  &:hover img {
    transform: scale(1.1);
  }
  &::before {
    content: "";
    @include postion(absolute, top 0, left -60%);
    background-color: $danger;
    @include diamintion(100%, 100%);
    opacity: 0.9;
    z-index: 2;
    transform: skewX(-45deg);
  }
  .text {
    @include postion(absolute, top 0, left 0);
    @include diamintion(100%, 100%);
    color: white;
    padding: 20px;
    z-index: 3;
  }
  a {
    cursor: pointer;
    color: $white !important;
    font-size: 16px;
    text-decoration: none !important;
  }
}

// new products

.newproducts {
  @include padding(top 30px, bottom 30px);
  margin: 30px 0px;
}

// card element

.card {
  text-align: center;
  @include margin(top 10px, bottom 10px);
  transition: all 0.2s;
  &:hover {
    border: 3px solid $danger;
  }
  img {
    width: 100%;
    transition: all 0.5s;
  }
  &:hover img {
    transform: scale(1.1);
  }
  p {
    margin: 0px !important;
    font-size: 12px;
  }
  .card-title {
    font-size: 14px !important;
  }
  .card p:first-child {
    font-size: 12px !important;
  }
  .card-text:nth-of-type(2) {
    color: $danger;
    font-size: 18px;
    font-weight: 600;
  }

  & .icon {
    background-color: transparent !important;
    border: none !important;
    color: $dark;
    font-size: 20px;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
    &:first-child {
      margin-right: 10px;
    }
  }
  .btn_card {
    background-color: $danger !important;
    border: none !important;
    border-radius: 0 !important;
    width: 50%;
    border-radius: 30px !important;
    font: {
      weight: 400;
      size: 10px;
    }
    &:hover {
      background-color: $white !important;
      color: $dark;
      border: 1px solid black !important;
    }
    & .cont_btn {
      background-color: $dark;
      width: 100%;
      padding: 10px 0px;
      transition: all 0.3s;
      position: relative;
      visibility: hidden;
    }
  }
  .card:hover .cont_btn {
    visibility: visible;
  }
}

//card two

.cardtwo {
  width: fit-content;
  margin: 30px 0px 0px;
  padding: 10px;
  img {
    width: 70px;
    cursor: pointer;
  }
  h6 {
    cursor: pointer;
  }
  p,
  h6 {
    margin: 0px !important;
  }
  p {
    font-size: 12px;
    &:last-child {
      color: $danger;
    }
  }
}

// cart card

.cartcard {
  img {
    width: 70px;
    cursor: pointer;
  }
  h6 {
    cursor: pointer;
  }
  & p,
  h6 {
    margin: 0px !important;
  }
  p {
    font-size: 12px;
  }
  .text-cont p:last-child {
    color: $danger;
  }
  button {
    background-color: $danger !important;
    border: none !important;
  }
}
.button_opencart,
.btn-pay {
  background-color: $danger !important;
  border: none !important;
  color: white !important;
  &:hover {
    background-color: transparent !important;
    border: 1px $danger solid !important;
    color: black !important;
  }
}
// empty-cart
.empty-cart {
  height: 200px;
  color: grey;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
//btn-pay
.btn-pay {
  margin: 20px;
  min-width: 200px;
  a {
    color: white;
    &:hover {
      color: black;
    }
  }
}
.btn-btn {
  background-color: $danger !important;
  border: none !important;
  color: white !important;
  &:hover {
    background-color: transparent !important;
    border: 1px $danger solid !important;
    color: black !important;
  }
}
// shop cart details

.shop-cart-details {
  .img-cont {
    img {
      width: 150px;
    }
  }
  .remove-btn {
    background-color: $danger !important;
    border: none !important;
  }
}

//cardfavo

.vstack {
  margin-bottom: 10px;
}
.cartfav {
  img {
    width: 70px;
    cursor: pointer;
  }
  h6 {
    cursor: pointer;
  }
  & p,
  h6 {
    margin: 0px !important;
  }
  .text-cont p {
    font-size: 12px;
    &:last-child {
      color: $danger;
    }
  }
  .btns button:first-child {
    margin-right: 5px;
  }
  button {
    background-color: $danger !important;
    border: none !important;
  }
}
// button to up

.btnUp {
  @include diamintion(30px, 30px);
  cursor: pointer;
  @include postion(sticky, bottom 50px, left 90%);
  background-color: $danger !important;
  box-shadow: 1px 1px 10px black;
  z-index: 20;
  display: flex !important;
  @include flexbox(center, center, row);
  color: white !important;
  font-weight: 600;
  border: none !important;
  visibility: hidden;
}
.show_btnUp {
  visibility: visible;
}

//register

// login

// shop

.shop {
  padding: 0px 10px;
  @include flexbox(flex-start, flex-start, row);
  .container {
    display: flex;
    padding: 50px 10px;
    align-items: start;
    .Cont {
      width: 70%;
      white-space: wrap;
    }
  }
  .title {
    padding: 15px;
    margin-top: 30px;
  }
  .flex_direction {
    flex-direction: row !important;
  }
}

// hotel deals

.hot_deals {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 69vh;
  img {
    transform: translateX(-250px);
  }
  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 3;
    transform: translateY(-150%);
    @include margin_auto;
    width: fit-content;
    .txt {
      position: relative;
      z-index: 3;
      a {
        background-color: $danger !important;
        border: none !important;
        border-radius: 50px;
        padding: 7px 16px;
      }
    }
  }
  .counter {
    display: flex;
    justify-content: space-evenly;
    > {
      span {
        @include diamintion(100px, 100px);
        border-radius: 50%;
        margin-bottom: 10px;
        @include flexbox(center, center, column);
        color: white;
        font: {
          size: 20px;
          weight: 600;
        }
        background-color: $danger;
        margin-right: 20px;
      }
    }
  }
}

//details

.Details {
  .img_cont img {
    width: 100%;
    max-width: 300px;
  }
  .img_cont,
  .imgs_cont {
    @include flexbox(center, center, row);
  }
  .imgs_cont img {
    width: 50px;
    background-color: rgb(176, 176, 176);
    margin-right: 10px;
    cursor: pointer;
  }
  .element-text {
    padding: 20px;
    h1 {
      font-size: 50px;
      margin-bottom: 50px;
    }
    h5 {
      margin-bottom: 10px;
      &:last-of-type {
        color: $danger;
      }
    }
    p span {
      font : {
        size: 20px;
        weight: 500;
      }
    }
    .btns {
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        background-color: $danger;
        border: none;
        &:hover {
          color: black;
          background-color: white;
          border: 1px solid black;
        }
      }
    }
  }
  .element-text P:last-of-type {
    padding: 20px;
  }
}

// shop sidenav

.main_aside {
  display: flex;
  @include postion(sticky !important, top 10%, left 0);
  flex-direction: column;
  width: 250px;
  padding: 15px;
  margin-top: 15px !important;
  z-index: 10 !important;
  h4 {
    padding: 10px;
  }
  > input {
    width: 100%;
    padding: 7px 10px;
    border: 3px solid $borderColor;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .checks {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    h5 {
      margin-bottom: 20px;
    }
    label {
      margin-bottom: 10px;
      font-size: 14px;
      @include flexbox(space-between, center, row);
      > input {
        @include diamintion(15px, 15px);
        border-radius: 5px;
      }
    }
  }
  .price {
    padding: 10px;
    input {
      border-radius: 10px !important;
      border: 2px solid $borderColor;
      padding: 3px;
    }
  }
}
.Toggle_filters {
  border: none !important;
  background-color: $danger !important;
  outline: none !important;
  color: white !important;
  @include postion(sticky, top 50%, left 0px);
  margin-left: -55px;
  display: flex;
  align-items: flex-start;
  z-index: 10;
  border-radius: 0 !important;
}
.main_aside_offcanvas {
  width: fit-content !important;
}

// sigin home page

.signup {
  margin: 30px 0px 0px;
  padding: 30px 0px;
  text-align: center;
  border-top: 1px solid $borderColor;
  h3 {
    font-size: $xfont;
    color: $lightDark;
    font-weight: 400;
    margin-bottom: 30px;
    > span {
      font-weight: 700;
    }
  }
  input {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    padding: 12px 22px;
    border: 1px solid $borderColor;
    width: 40%;
  }
  form {
    @include flexbox(center, center, row);
    flex-wrap: wrap;
  }
  button {
    background-color: $danger !important;
    border: none !important;
    @include radius(
      "topleft" 0,
      "bottomleft" 0,
      "bottomright" 30px,
      "topright" 30px
    );
    padding: 12px 22px;
  }
  .icons {
    margin-top: 30px;
    svg {
      margin-right: 10px;
      font-size: 30px;
      cursor: pointer;
      width: 30px;
      &:first-child {
        width: 45px;
      }
    }
  }
}

//footer

.footer {
  background-color: $dark;
  padding: 50px 0px;
  margin-bottom: -30px;
  h4 {
    color: white;
    margin-bottom: 30px;
    font-size: 18px;
  }
  p {
    color: $lightWhite;
  }
  ul {
    @include flexbox(space-between, flex-start, column);
    li {
      margin-bottom: 15px;
      color: $lightWhite !important;
      gap: 5px;
      display: flex;
      align-items: center;
      a {
        color: $lightWhite !important;
      }
      &:hover a {
        color: $danger !important;
      }
    }
  }
}
