.cardtwo {
  width: fit-content;
  margin: 30px 0px 0px;
  padding: 10px;
}
.cardtwo img {
  width: 70px;
  cursor: pointer;
}
.cardtwo h6 {
  cursor: pointer;
}
.cardtwo p,
h6 {
  margin: 0px !important;
}
.cardtwo p {
  font-size: 12px;
}
.cardtwo .text-cont p:last-child {
  color: var(--danger);
}
