.card {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.2s;
}
.card:hover {
  border: 3px solid var(--danger);
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.card img {
  width: 100%;
  transition: all 0.5s;
}
.card:hover img {
  transform: scale(1.1);
}
.card p {
  margin: 0px !important;
  font-size: 12px;
}
.card-title {
  font-size: 14px !important;
}
.card p:first-child {
  font-size: 12px !important;
}
.card-text:nth-of-type(2) {
  color: var(--danger);
  font-size: 18px;
  font-weight: 600;
}
.card .icon {
  background-color: transparent !important;
  border: none !important;
  color: var(--dark);
  font-size: 20px;
  cursor: pointer;
}
.card .icon:hover {
  opacity: 0.5;
}
.card .icon:first-child {
  margin-right: 10px;
}
.card .btn_card {
  background-color: var(--danger) !important;
  border: none !important;
  border-radius: 0 !important;
  width: 50%;
  border-radius: 30px !important;
  font-weight: 400;
  font-size: 10px;
}
.card .btn_card:hover {
  background-color: var(--white) !important;
  color: var(--dark);
  border: 1px solid black !important;
}
.card .cont_btn {
  background-color: var(--dark);
  width: 100%;
  padding: 10px 0px;
  transition: all 0.3s;
  position: relative;
  visibility: hidden;
}
.card:hover .cont_btn {
  visibility: visible;
}
@media (max-width: 576px) {
  .card p {
    font-size: 10px;
  }
}
