.vstack {
  margin-bottom: 10px;
}
.cartfav img {
  width: 70px;
  cursor: pointer;
}
.cartfav h6 {
  cursor: pointer;
}
.cartfav p,
h6 {
  margin: 0px !important;
}
.cartfav p {
  font-size: 12px;
}
.cartfav .text-cont p:last-child {
  color: var(--danger);
}
.btns button:first-child {
  margin-right: 5px;
}
.cartfav button {
  background-color: var(--danger) !important;
  border: none !important;
}
