.cartcard {
  padding: 10px;
}
.cartcard img {
  width: 70px;
  cursor: pointer;
}
.cartcard h6 {
  cursor: pointer;
}
.cartcard p,
h6 {
  margin: 0px !important;
}
.cartcard p {
  font-size: 12px;
}
.cartcard .text-cont p:last-child {
  color: var(--danger);
}
.cartcard button {
  background-color: var(--danger) !important;
  border: none !important;
}
