.footer {
  background-color: var(--dark);
  padding: 50px 0px;
  height: 90vh;
}
.footer h4 {
  color: white;
  margin-bottom: 30px;
  font-size: 18px;
}

.footer ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.footer ul li {
  margin-bottom: 15px;
}
.footer ul li a,
.footer p {
  color: var(--lightWhite) !important;
}
.footer ul li:hover a {
  color: var(--danger) !important;
}
