.footer {
  background-color: var(--dark);
  padding: 50px 0px;
  margin-bottom: -30px;
}
.footer h4 {
  color: white;
  margin-bottom: 30px;
  font-size: 18px;
}

.footer ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.footer ul li {
  margin-bottom: 15px;
}
.footer ul li a,
.footer p {
  color: var(--lightWhite) !important;
}
.footer ul li:hover a {
  color: var(--danger) !important;
}

@media (max-width: 576px) {
  .footer p {
    font-size: 12px;
  }
  .footer ul {
    margin-top: 10px;
  }
  .footer ul li {
    margin-bottom: 7px;
  }
}
