.hot_deals {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 69vh;
}
.hot_deals img {
  transform: translateX(-250px);
}
.hot_deals .content {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 3;
  transform: translateY(-150%);
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.counter {
  display: flex;
  justify-content: space-evenly;
}
.counter > span {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
  font-weight: 600;
  background-color: var(--danger);
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.hot_deals .txt {
  position: relative;
  z-index: 3;
}
.hot_deals .txt a {
  background-color: var(--danger) !important;
  border: none !important;
  border-radius: 50px;
  padding: 7px 16px;
}
@media (max-width: 992px) {
  .content {
    margin: 0px;
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  .hot_deals img {
    transform: translateX(-350px);
  }
  .hot_deals .content {
    transform: translateY(-160%);
  }
  .hot_deals .counter {
    margin: 0px;
    margin-left: auto;
  }
}
@media (max-width: 576px) {
  .hot_deals .content {
    transform: translateY(-125%);
  }
  .hot_deals img {
    transform: translateX(-600px);
  }
  .counter {
    flex-wrap: wrap;
  }
}
