.login {
  padding: 30px 0px;
}
.login form {
  width: fit-content;
}
.login h3 {
  margin-bottom: 30px;
}
.login label {
  margin-bottom: 30px;
}
.login label input {
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 10px;
  padding: 7px 12px;
}
.login label input:focus {
  outline: none;
}
.login button {
  width: 100%;
  background-color: var(--danger) !important;
  border: none !important;
}
@media (max-width: 576px) {
  .login input {
    margin: 20px 0px;
  }
  .login label {
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .login {
    height: 69vh;
  }
}
