.login {
  padding: 30px 0px;
}
.login form {
  width: fit-content;
}
.login h3 {
  margin-bottom: 30px;
}
.login label {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.login label input {
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 10px;
  padding: 7px 12px;
}
.login label input:focus {
  outline: none;
}
.login button {
  width: 100%;
  background-color: var(--danger) !important;
  border: none !important;
}

/* media screen */

@media (min-width: 768px) {
  .login {
    height: 69vh;
  }
}

@media (max-width: 576px) {
  .login form {
    width: 60%;
  }
  .login input {
    margin: 5px 0px 10px 0px;
    width: 90%;
  }
  .login label {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}
@media (max-width: 458px) {
  .login form {
    width: 100%;
  }
}
