.register {
  padding: 30px 0px;
}
.register form {
  width: fit-content;
}
.register h3 {
  margin-bottom: 30px;
}
.register label {
  margin-bottom: 30px;
}
.register label input {
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 10px;
  padding: 7px 12px;
}
.register label input:focus {
  outline: none;
}
.register button {
  width: 100%;
  background-color: var(--danger) !important;
  border: none !important;
}
@media (max-width: 576px) {
  .register input {
    margin: 20px 0px;
  }
  .register label {
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .register {
    height: 69vh;
  }
}
