.section {
  padding: 50px 0px;
}
.sectionContent {
  position: relative;
  overflow: hidden;
  margin: 15px 0px;
  background-color: var(--lightWhite);
  height: 250px;
}
.sectionContent img {
  width: 300px;
  position: relative;
  transition: all 0.5s;
}
.sectionContent:hover img {
  transform: scale(1.1);
}
.sectionContent::before {
  content: "";
  position: absolute;
  top: 0;
  left: -60%;
  background-color: var(--danger);
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: 2;
  transform: skewX(-45deg);
}
.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  padding: 20px;
  z-index: 3;
}
.text a {
  cursor: pointer;
  color: var(--white) !important;
  font-size: 16px;
  text-decoration: none !important;
}
