.shop {
  display: flex;
  padding: 0px 10px;
  justify-content: flex-start;
  align-items: flex-start;
}
.shop > .container {
  display: flex;
  padding: 50px 10px;
  align-items: start;
}
.shop .container .Cont {
  width: 70%;
  white-space: wrap;
}
.shop .title {
  padding: 15px;
  margin-top: 10px;
}
.flex_direction {
  flex-direction: row !important;
}
@media (max-width: 768px) {
  .shop {
    flex-direction: column;
    margin-top: -60px;
  }
}
