/* css style element */
.Header {
  background-color: var(--lightDark);
  border-top-left-radius: 5px;
}
.content {
  padding: 10px 15px;
}
.Header .nav a,
ul li {
  margin-right: 15px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
  color: var(--white) !important;
}

.Header .nav a:hover,
ul li:hover {
  color: var(--danger);
}

.nav a svg,
ul li svg {
  color: var(--danger);
}
.last_ul {
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .Header ul {
    justify-content: center;
  }
  .last_ul {
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .Header {
    display: none;
  }
}
