/* reset elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}
a {
  text-decoration: none;
}
/* root */
:root {
  --white: white;
  --dark: #15161d;
  --lightDark: #1e1f29;
  --danger: #d10024;
  --lightWhite: #d8d3d3f3;
  --smallFont: 14px;
  --xfont: 24px;
  --borderColor: #e4e7ed;
}
